
<div class="container">
<h5 class="navbar navbar-expand-sm bg-secondary text-white  navbar-dark">List Movie</h5>
  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#myModal">
    +Thêm phim mới
</button>

<div class="modal modal-lg" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm phim mới</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <app-add-movie></app-add-movie>
      </div>

    </div>
  </div>
</div>

  <div class="row mb-3">
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Enter Name">
    </div>
    <div class="col-md-3">
      <select class="form-control">
        <option selected>Movie Category</option>
        <option>Action</option>
        <option>Drama</option>
      </select>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Enter Duration">
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary w-100">Search</button>
    </div>
  </div>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Avatar</th>
        <th scope="col">Duration(min)</th>
        <th scope="col">Launch Date</th>
        <th scope="col">Movie Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
       @for (item of numbers; track $index) {
        <tr >
        <td>Black Panther</td>
        <td><img style="height: 100%; width: 100%;" src="https://plus.unsplash.com/premium_photo-1664474619075-644dd191935f?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="60" /></td>
        <td>180</td>
        <td>16-02-2018</td>
        <td>Action</td>
        <td>
          <button class="btn btn-sm btn-success mr-1"><i class="bi bi-pencil-square"></i></button>
          <button class="btn btn-sm btn-danger"><i class="bi bi-trash3"></i></button>
        </td>
      </tr>
   }
      
      
     
    </tbody>
  </table>

  <div class="d-flex justify-content-between">
    <span>1 - 5 in total 5 items</span>
    <nav>
      <ul class="pagination pagination-sm mb-0">
        <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">»</a></li>
      </ul>
    </nav>
  </div>
</div>
